In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [3]:
df = pd.read_csv('../../pandas-videos/data/imdb_1000.csv')

## COMP 3122 - Artificial Intelligence with Python
__Week 4 lab__

### [github.com/kamrik/ML1](https://github.com/kamrik/ML1)

## Lab test -> home assignment
 - [exercises/numpy_assignment.py](exercises/numpy_assignment.py)
 - Submit by email
 - Starting some time this weekend the bot will respond withing several minutes with a grade
 - Up to 5 submissions, the best counts
 - I'll manually inspect some randomly selected submissions
 - If you believe there is a bug, email me or open an issue on GitHub (don't disclese your entire solution in publicly visible communication)

## Pandas
 - The videos (or the notebook from videos) - important
 - `df.loc[]`
 - `df.idxmax[]`
 - `df.groupby()`
 - Lab exercise - `exercises/olympic_history.ipynb`
   - Use the notebook from the videos as a reference - keep it open in another tab

### df['column'] vs df.loc[row]

In [4]:
df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

![groupby](https://jakevdp.github.io/PythonDataScienceHandbook/figures/03.08-split-apply-combine.png)

In [8]:
df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [7]:
df.groupby('genre').count()

           star_rating  title  content_rating  duration  actors_list
genre
Action             136    136             135       136          136
Adventure           75     75              74        75           75
Animation           62     62              62        62           62
Biography           77     77              76        77           77
Comedy             156    156             156       156          156
Crime              124    124             124       124          124
Drama              278    278             278       278          278
Family               2      2               2         2            2
Fantasy              1      1               1         1            1
Film-Noir            3      3               3         3            3
History              1      1               1         1            1
Horror              29     29              29        29           29
Mystery             16     16              16        16           16
Sci-Fi               5      5               5         5            5
Thriller             5      5               5         5            5
Western              9      9               9         9            9